[submodule "references/MATLAB-template-for-designing-systems"]
	path = references/MATLAB-template-for-designing-systems
	url = https://github.com/cavediverchris/MATLAB-template-for-designing-systems
[submodule "references/MATLAB-template-for-data-science"]
	path = references/MATLAB-template-for-data-science
	url = https://github.com/cavediverchris/MATLAB-template-for-data-science
[submodule "references/MATLAB-template-for-app-development"]
	path = references/MATLAB-template-for-app-development
	url = https://github.com/cavediverchris/MATLAB-template-for-app-development
